@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

#logintiles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
}

.tile {
	height: auto;
	font-family: 'Sedgwick Ave', cursive;
	font-size: 2rem;
	text-align: center;
	width: auto;
}

a {
	border: none;
}

a:hover {
	color: rebeccapurple;
}

.icon1 {
	font-size: 5rem;
}

#heading {
	text-align: center;
}

@media only screen and (max-width: 750px) {
	#logintiles {
		flex-direction: column;
	}
}