#progressGridContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
}

a {
    color: black;
}

.bookLink {
    text-align: center;
    border: none;
    display: inline-block;
}

.bookLink:hover {
	transform: translateY(-3px);
}

.bookIcon {
    display: block;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0;
}

#readerNav {
	display: flex;
	justify-content: space-around;
}

#readerNav a {
	background-color: #0ca8e5;
	color: white;
	border-radius: 5px;
	width: 125px;
	text-align: center;
	font-weight: 700;
	padding: 10px;
	
}

.fa-users, .fa-user-friends {
	margin-right: 5px;
}

@media only screen and (max-width: 900px) {
    #progressGridContainer {
         grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 550px) {
    #progressGridContainer {
         grid-template-columns: 1fr;
    }
    
    #readerNav {
    	flex-direction: column;
    	align-items: center;
    }
    
    #readerNav a {
    	margin: 5px 0;
    	display: block;
    	width: 100%;
    }
   
}



