@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sedgwick Ave', cursive;
}

main {
	max-width: 800px;
	margin: 0 auto;
}

.panel {
	background-color: #efefefdd;
	border-radius: 5px;
	padding: .5rem;
	margin: 1rem 0;
}

body {
	padding: 1rem;
	background-image: url("background.jpeg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

ul, ol {
	padding-left: 2rem;
}

#title {
	color: white;
	text-align: center;
}

#icon {
	max-height: 200px;
	max-width: 800px;
	margin: 0 auto;
	font-weight: 700;
}

a {
	text-decoration: none;
	border-left: 2px solid transparent;
}

a:hover {
	border: none;
}

.stubborn {
	border: none;
}

th {
	text-align: left;
	width: 400px
}

.answer, .question, .goal, .post {
	max-width: 600px;
	word-wrap: break-word;
}

input[type="submit"], button, input[type="button"] {
	font-size: 1rem;
	background-color: #0ca8e5;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-weight: 700;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"] {
	margin: 5px;
	height: 30px;
}

textarea, input[type="text"], input[type="password"], input[type="email"]
	{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #666;
	outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
	textarea:focus {
	border: 2px solid rebeccapurple;
}

strong {
	color: cadetblue;
}

ul, ol {
	list-style-type: none;
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 1.15rem;
	text-align: center;
}

textarea {
	width: 75%;
	height: 4em;
	resize: none;
	overflow: auto;
}

#exp {
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	background-color: #efefefdd;
}

#messageBoardSubmit {
	margin-top: 10px;
}

@media only screen and (max-width: 700px) {
	.gridContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 550px) {
	.gridContainer {
		grid-template-columns: repeat(1, 1fr);
	}
	textarea {
		width: 100%;
	}
}