<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
	<h1 th:text="${book.title}"></h1>
	<h2 th:text="${book.author}"></h2>
	
	<form method="POST" id="addReaderFinishedBook">
	<input type="hidden" name="readerId" value = 1 />
	<input type="hidden" name="bookId" th:value ="${book.id}" />
	

<label>Month:</label>
<select name="monthFinished" id="monthFinished">
	</select>
	
	<label>Day:</label>
	<select name="dayOfMonthFinished" id="dayOfMonthFinished">
	</select>
	
	<label>Year:</label>
	<select name="yearFinished" id="yearFinished">
  	<option value=2018>2018</option>
	</select>
	<button th:formaction="@{addReaderFinishedBook}">add to my books</button>
	</form> 

	<a th:href="@{group(id=${group.id})}">Back to Group</a>
	
	<script src='./saveReaderBook.js'></script>
</body>
</html>