<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		
	</style>
</head>
<body>
	<div th:each="group: ${groups}">
	<h2 th:text="${group.groupName}"></h2>
	</div>
	
	<div th:each="reader: ${readers}">
	<a th:href="@{reader(id=${reader.id})}"><span th:text="${reader.username}"></span></a>
	</div>
	
	<h2>Books</h2>
	<div th:each="groupBook: ${groupBooks}">
	<a th:href="@{groupBook(id=${groupBook.id})}"><span th:text="${groupBook.title}"></span></a>
	<span th:text="${groupBook.author}"></span>
	</div>
	
	<div th:each="group: ${groups}">
	<h2>Enter information below to add a reader</p>
    <form method="POST" th:action="@{/addReader}">
        <input type="text" placeholder="Reader's Username" name="username">
        <input type="hidden" th:value="${group.id}" name="id">
        <input type="submit">
    </form>
    </div>
	
	
	<div th:each="group: ${groups}">
    <h2>Enter information below to delete a reader</h2>
    <form method="GET" th:action="@{/deleteReader}">
    	<input type="text" placeholder="Reader's Username" name="username">
    	<input type="hidden" th:value="${group.id}" name="id">
    	<input type="submit">
    </form>
	</div>
	
	<div th:each="group: ${groups}">
	<h2>Enter information below to create a new question</p>
    <form method="POST" th:action="@{/addQuestion}">
        <input type="text" placeholder="Question" name="content">
        <input type="hidden" th:value="${group.id}" name="id">
        <input type="submit">
    </form>
    </div>
	
	<div th:each="group: ${groups}">
	<h2>Here are the groups discussion questions</h2>
	<div th:each = "question: ${questions}">
	<span th:text = "${question.content}"></span>
	<a th:href ="@{/removeQuestion/{questId}/{groupId}(questId=${question.id} , groupId=${group.id})}">[delete]</a>
	
	<div th:each ="answer:${question.getAnswers()}">
	<span th:text = "${answer.content}"></span>
	</div>
	
	</div>
	</div>
	
	
	
	<div th:each="group: ${groups}">
	<h2>Enter information below to create a new goal</p>
    <form method="POST" th:action="@{/addGoal}">
        <input type="text" placeholder="Goal Name" name="name">
        <input type="hidden" th:value="${group.id}" name="id">
        <input type="submit">
    </form>
    </div>
	
	<div th:each="group: ${groups}">
	<h2> Here are the group goals </h2>
	<div th:each = "goal: ${goals}">
	<span th:text = "${goal.name}"></span>
	<a th:href ="@{/removeGoal/{goalId}/{groupId}(goalId=${goal.id} , groupId=${group.id})}">[delete]</a>
	</div>
	</div>
	
	<div th:each="group: ${groups}">
    <h2>Enter information below to delete a goal</h2>
    <form method="GET" th:action="@{/deleteGoal}">
    	<input type="text" placeholder="Group Name" name="name">
    	<input type="hidden" th:value="${group.id}" name="id">
    	<input type="submit">
    </form>
    
    <a href="http://localhost:8080/groups">Back to Groups.</a>
	<a href="http://localhost:8080/readers">Back to Readers.</a>
	</div>
	<form method="POST" th:action="@{/addBook}">
	<input type="text" placeholder="Enter Group Name" name= "name">
	<input type="text" placeholder= "Enter Author Name" name= "author">
	<input type="submit">
	
	</form>
</body>
</html>