<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="theme.css">
<link rel="stylesheet" type="text/css" href="group.css">

</head>

<body>


	<main> <img id="icon" src="icon.svg">
	<section class="panel">

		<h2 th:text="${group.groupName}"></h2>
		<title th:text="${group.groupName}"></title>

	</section>


	<section class="panel">
		<h2>Members</h2>
		<div class="gridContainer">
			<div th:each="reader: ${readers}">
				<a th:href="@{reader(id=${reader.id})}"><i class="fas fa-user"></i><span
					th:text="${reader.username}"></span></a>
			</div>
			<div th:if="${readers.isEmpty()}">
				<p>Your group has no members yet</p>
			</div>
		</div>
	</section>

	<section class="panel">

		<h2>Add a reader</h2>
		<form method="POST" th:action="@{/addReader}">
			<input type="text" placeholder="Reader's Username" name="username">
			<input type="hidden" th:value="${group.id}" name="id"> <input
				type="submit">
		</form>

	</section>

	<div class="panel">

		<h2>Give a reader points</h2>
		<form method="POST" th:action="@{/giveReaderPoints}">
			<input type="text" placeholder="User Name" name="userName"> <input
				type="text" placeholder="Amount of Points" name="points"> <input
				type="hidden" th:value="${group.id}" name="groupId"> <input
				type="submit">

		</form>
	</div>




	<section class="panel">

		<h2>Remove a reader from this group</h2>
		<form method="GET" th:action="@{/deleteReader}">
			<input type="text" placeholder="Reader's Username" name="username">
			<input type="hidden" th:value="${group.id}" name="id"> <input
				type="submit">
		</form>

	</section>

	<section class="panel">
		<h2>Books</h2>

		<div id="bookGridContainer">
			<div th:each="groupBook: ${groupBooks}">
				<a
					th:href="@{'/group/' + ${group.id} + '/groupBook/' + ${groupBook.id}}"
					class="stubborn">
					<div class="bookGridItem">

						<i class="fas fa-book-reader"></i> <span
							th:text="${groupBook.title}"></span> <span
							th:text="${groupBook.author}"></span>
					</div>
				</a>
			</div>
		</div>

	</section>


	<section class="panel">
		<h2>Add a book</h2>

		<form id="bookForm" method="POST" th:action="@{/addBook}">
			<input id="booktitle" type="text" placeholder="Enter book name">
			<input type="hidden" th:value="${group.id}" name="id"> <input
				id="title" type="hidden" name="book"> <input id="authorname"
				type="hidden" name="author"> <input id="pageCount"
				type="hidden" name="pageCount"> <input id="button"
				type="button" value="Submit">
		</form>

	</section>

	<section class="panel">

		<h2>Create a new question</h2>
		<form method="POST" th:action="@{/addQuestion}">
			<input type="text" placeholder="Question" name="content"> <input
				type="hidden" th:value="${group.id}" name="id"> <input
				type="submit">
		</form>

	</section>

	<section class="panel">






		<h2>Groups discussion questions</h2>
		<div class="panel" th:each="question: ${questions}">
			<span th:text="${question.content}" class="question"></span> <a
				th:href="@{/removeQuestion/{questId}/{groupId}(questId=${question.id} , groupId=${group.id})}">[delete]</a>

			<div class="panel" th:each="answer:${question.getAnswers()}">
				<strong th:text="${answer.getReader().username}"></strong>
				<p class="answer" th:text="${answer.content}"></p>
			</div>

		</div>

	</section>

	<section class="panel">

		<h2>Create a new goal</h2>
		<form method="POST" th:action="@{/addGoal}">
			<input type="text" placeholder="Goal Name" name="name"><input
				type="text" placeholder="Point Value" name="pointValue"> <input
				type="hidden" th:value="${group.id}" name="id"><input
				type="submit">
		</form>

	</section>

	<section class="panel">

		<h2>Group goals</h2>
		<div th:each="goal: ${goals}">
			<i class="fas fa-star"></i><span th:text="${goal.name}" class="goal"></span>
			<a
				th:href="@{/removeGoal/{goalId}/{groupId}(goalId=${goal.id} , groupId=${group.id})}">[delete]</a>
			<ul>
				<li>Completed this goal:</li>
			</ul>
			<ul>
				<l1> <span th:if="${goal.getReaders().size() < 1}">No
					one has completed this goal yet.</span></l1>
			</ul>
			<div th:each="reader: ${goal.getReaders()}">
				<ul>
					<li><i class="fas fa-user"></i><span
						th:text="${reader.username}"></span></li>
				</ul>
			</div>
		</div>

	</section>


	<div class="panel">


		<h2>Group Message Board</h2>

		<div class="panel" th:each="post: ${posts}">
			<strong th:text="${post.getReader().username}"></strong>
			<p th:text="${post.content}" class="post"></p>

		</div>

	</div>



	<a href="/readers" class="stubborn"><button>Back to
			Readers</button></a>
	<button id="logout">Logout</button>
	<script src="librarianlogout.js"></script> </main>
	<script src='./group.js'></script>


</body>
</html>