<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Groups</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="theme.css">
<link rel="stylesheet" type="text/css" href="groupQuestionList.css">

</head>
<body>
	<main> <img id="icon" src="icon.svg">


	<div class="panel">

		<h2>Your Groups</h2>

	</div>

	<div class="panel" id="groupsGridContainer">
		<div th:each="group: ${groups}">
			<a th:href="@{/singlegroupquestions(id=${group.id})}"
				class="groupLink"> <i class="fas fa-users"></i>
				<p th:text="${group.groupName}"></p></a>
		</div>

	</div>
	</main>




</body>
</html>