<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="theme.css">

</head>

<body>
	
	<main>
		<h1 id="title">We Can Read It</h1>
		<section  class="panel">
		<div th:each="group: ${groups}" >
		<h2 th:text="${group.groupName}"></h2>
		</div>
	
		<ul>
			<li th:each="reader: ${readers}" >
			<a th:href="@{reader(id=${reader.id})}"><span th:text="${reader.username}"></span></a>
			</li>
		</ul>
		</section>

		<section class="panel">
		<h2>Books</h2>
		<div th:each="groupBook: ${groupBooks}">
		<a th:href="@{groupBook(id=${groupBook.id})}"><span th:text="${groupBook.title}"></span></a>
		<span th:text="${groupBook.author}"></span>
		</div>
		</section>

		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2>Add a reader</h2>
		<form method="POST" th:action="@{/addReader}">
			<input type="text" placeholder="Reader's Username" name="username">
			<input type="hidden" th:value="${group.id}" name="id">
			<input type="submit">
		</form>
		</div>
		</section>
		
		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2>Delete a reader</h2>
		<form method="GET" th:action="@{/deleteReader}">
			<input type="text" placeholder="Reader's Username" name="username">
			<input type="hidden" th:value="${group.id}" name="id">
			<input type="submit">
		</form>
		</div>
		</section>

		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2>Create a new question</p>
		<form method="POST" th:action="@{/addQuestion}">
			<input type="text" placeholder="Question" name="content">
			<input type="hidden" th:value="${group.id}" name="id">
			<input type="submit">
		</form>
		</div>
		</section>
		
		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2>Groups discussion questions</h2>
		<div th:each = "question: ${questions}">
		<span th:text = "${question.content}"></span>
		<a th:href ="@{/removeQuestion/{questId}/{groupId}(questId=${question.id} , groupId=${group.id})}">[delete]</a>
		
		<div th:each ="answer:${question.getAnswers()}" >
		<span th:text = "${answer.content}"></span>
		</div>
		
		</div>
		</div>
		</section>
		
		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2>Create a new goal</p>
		<form method="POST" th:action="@{/addGoal}">
			<input type="text" placeholder="Goal Name" name="name">
			<input type="hidden" th:value="${group.id}" name="id">
			<input type="submit">
		</form>
		</div>
		</section>

		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2> Group goals </h2>
		<div th:each = "goal: ${goals}">
		<span th:text = "${goal.name}"></span>
		<a th:href ="@{/removeGoal/{goalId}/{groupId}(goalId=${goal.id} , groupId=${group.id})}">[delete]</a>
		</div>
		</div>
		</section>

		<section class="panel">
		<div th:each="group: ${groups}" >
		<h2>Delete a goal</h2>
		<form method="GET" th:action="@{/deleteGoal}">
			<input type="text" placeholder="Group Name" name="name">
			<input type="hidden" th:value="${group.id}" name="id">
			<input type="submit">
		</form>
		</div>
		</section>
		<section class="panel">
		<a href="http://localhost:8080/groups">Back to Groups.</a>
		<a href="http://localhost:8080/readers">Back to Readers.</a>
		</section>
	</main>
</body>
</html>