<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Librarian Login</title>
<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
	<main> <img id="icon" src="icon.svg">

	<div class="panel">
		<h1>Librarian Login</h1>


		<input type="text" placeholder="User Name" id="username"> <input
			type="password" placeholder="Password" id="password">
		<button id="submit">Enter</button>
	</div>

	</main>
	<script src="librarianLogin.js"></script>
</body>
</html>
