<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Group Creation</title>
</head>
<body>
    <h1>Create a New Reading Group</h1>

    <p>Input the following information to create a new reading group</p>

    <form method="POST">
        <input type="text" placeholder="Group Name" name="groupName">
        <input type="text" placeholder="Group Topic" name="topic">
        <input type="submit">
    </form>







</body>
</html>