<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
	<h1 th:text="${reader.firstName}"></h1>
	
	
	<br />
	<div th:each="readerProgressRecord: ${readerProgressRecords}">
	<a th:href="@{readerProgressRecord(id=${readerProgressRecord.id})}"><span th:text="${readerProgressRecord.groupBook.title}"></span></a>
	<p th:text="${readerProgressRecord.groupBook.author}"></p>
	<p>Finished: <span th:text="${readerProgressRecord.stringDateFinished}" id="dateFinishedParagraph"></span></p>
	<p><span th:text="${readerProgressRecord.groupBook.readingGroup.groupName}"></span></p>
	
	
	</div>
	<br>
	<a href="http://localhost:8080/readers">Back to Readers.</a>
    <script src='./ProfilePutRequest.js'></script>
	
</body>
</html>