<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="theme.css">
<link rel="stylesheet" type="text/css" href="reader.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
<title th:text="${reader.firstName}"></title>


</head>
<body>

	<main> <img id="icon" src="icon.svg">

	<section class="panel">

		<h1 th:text="${reader.firstName}"></h1>



		<section class="panel" th:if="${isOwner or isFriend or isLibrarian}">
			<h2>Books</h2>
			<div id="progressGridContainer">
				<div th:each="readerProgressRecord: ${readerProgressRecords}"
					id="progressGridItem">
					<a th:href="@{readerProgressRecord(id=${readerProgressRecord.id})}"
						class="bookLink"> <span class="bookIcon"><i
							class="fa fa-book-open" aria-hidden="true"></i></span>
						<p th:text="${readerProgressRecord.groupBook.title}"></p>


						<p th:text="${readerProgressRecord.groupBook.author}"></p>
						<p>
							Finished: <span
								th:text="${readerProgressRecord.stringDateFinished}"
								id="dateFinishedParagraph"></span>
						</p>

					</a>

				</div>

			</div>
		</section>


		<section class="panel" id="readerNav" th:if="${isOwner}">
			<a th:href="@{'/questionlist'}" class='navLink stubborn'><i
				class="fas fa-users"></i>Groups</a> <a
				th:href="@{'/reader/' + ${reader.id} + '/friends'}" class='navLink stubborn'>
				<i class="fas fa-user-friends"></i>Friends
			</a>
		</section>

		<section class="panel" th:if="${isOwner or isFriend or isLibrarian}">
			Points: <span th:text="${reader.points}"></span>
		</section>


		<!-- <section class="panel" th:if="not ${isOwner or isLibrarian or isFriend}">
			<button>Add Friend</button>
		</section> -->


		<div id="exp" th:if="${points != null}">
			<h2>Your Points:&nbsp</h2>
			<h3 th:text="${points}"></h3>
		</div>




		<button id="logout" >Logout</button>
		<br>

		<div id="exp" th:if="${points != null}">
			<h2>Your Points:&nbsp</h2>
			<h2 id="pointdisplay" th:text="${points}"></h2>
		</div>
	</main>
	<script src='./ProfilePutRequest.js'></script>
	<script src='./xpBar.js'></script>
	<script src='./readerlogout.js'></script>


</body>
</html>