
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="../../theme.css">
</head>

<body>
	<main><img id="icon" src="../../icon.svg">

	<div class="panel">
		<input type="text" placeholder="Friend's Username"
			name="friendUsername" id="friendUsername"> <input
			type="hidden" th:value="${reader.id}" name="id" id="readerId">
		<button id="addFriendButton">Add Friend</button>
	</div>


	<div id="messageDiv"></div>

	<div class="panel" id="friends">
		<h2>Friends</h2>
		<div th:each="friend: ${friends}" id="friendsList">
			<a th:href="@{../../reader(id=${friend.id})}"
				th:text="${friend.username}"></a>
		</div>
	</div>

	<div class="panel" id="pendingFriends">
		<h2>Pending Friends</h2>
		<div th:each="pendingFriend: ${pendingFriends}"
			id="pendingFriendsList">
			<a th:href="@{../../reader(id=${pendingFriend.id})}"
				th:text="${pendingFriend.username}"></a>
		</div>
	</div>


	<div class="panel" id="pendingFriendOf">
		<h2>Friend Requests</h2>
		<div th:each="pendingFriendOf: ${pendingFriendOf}"
			id="pendingFriendOfList">
			<a th:href="@{../../reader(id=${pendingFriendOf.id})}"
				th:text="${pendingFriendOf.username}"></a>
		</div>
	</div>



	</main>

	<script src='/addFriend.js'></script>

</body>
</html>