<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
	<h1 th:text="${reader.firstName}"></h1>
	
	
	<br />
	<div th:each="readerBook: ${readerBooks}">
	<a th:href="@{readerBook(id=${readerBook.id})}"><span th:text="${readerBook.title}"></span></a>
	<p th:text="${readerBook.author}"></p>
	<p th:text="${readerBook.stringDateFinished}"></p>
	<br/>
	</div>
	

	
	<a href="http://localhost:8080/readers">Back to Readers.</a>
	
</body>
</html>