<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Log In</title>
<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
	<main> <img id="icon" src="icon.svg">

	<div class="panel">

		<input type="text" placeholder="User Name" id="readerLogin"> <input
			type="text" placeholder="Password" id="password">
		<button id="submit">Login</button>
	</div>

	</main>
	<script src="ReaderLogin.js"></script>
</body>
</html>
