<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
	<main> <img id="icon" src="icon.svg">


	<div class="panel">

		<div th:each="group: ${groups}">
			<h2 th:text="${group.groupName}"></h2>
			<title th:text="${group.groupName}"></title>
		</div>
	</div>

	<div class="panel">

		<h2>Group Members</h2>
		<div th:each="group: ${groups}">
			<div th:each="reader: ${group.getAllMembers()}">
				<a th:href="@{reader(id=${reader.id})}"><span
					th:text="${reader.username}"></span></a>
			</div>
		</div>

	</div>

	<div class="panel">
		<h2>Group Books</h2>
		<div th:each="book:${books}">
			<a th:href="@{groupBook(id=${book.id})}"
						th:text="${book.title}"></a>
		</div>

	</div>





	<div class="panel">

		<h2>Group Goals</h2>
		<div th:each="goal:${goals}">
			<span th:text="${goal.name}"></span>
		</div>

	</div>




	<div class="panel">

		<div th:each="group: ${groups}">
			<h2>Group Questions</h2>
			<div th:each="question: ${questions}">
				<span th:text="${question.content}"></span>
				<form method="POST" th:action="@{/saveanswer}">
					<textarea rows="4" cols="75" name="answer"
						placeholder="Answer here" required></textarea>
					<input type="hidden" th:value="${question.id}" name="id"> <input
						type="hidden" th:value="${group.id}" name="groupid"> <input
						type="submit">
				</form>
			</div>
		</div>

	</div>


	<div class="panel">

		<div th:each="group: ${groups}">
			<h2>Group Message Board</h2>

			<div class="panel" th:each="post: ${posts}">
					<strong th:text="${post.getReader().username}"></strong>
					<p th:text="${post.content}"></p>
			</div>

			<form method="POST" th:action="@{/savePost}">
				<textarea rows="4" cols="75" name="newPost" placeholder="New Post"
					required></textarea>
				<input type="hidden" th:value="${group.id}" name="groupid">
				<input type="submit">

			</form>
		</div>
	</div>
	</main>
</body>
</html>