<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:each="group: ${groups}">
        <h2 th:text="${group.groupName}"></h2>
        </div>


            <h2>Here are the groups discussion questions</h2>
            <div th:each = "question: ${questions}">
            <span th:text = "${question.content}"></span>
            
            </div>



</body>
</html>